body {
    color: var(--slate, #434455);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: var(--white);
}
:root {
    --navyblue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --white: #FFF;
    --ocean: #404BBF;
    --cornflower: #E7E9FC;
}
.list {
    list-style-type: none;
}
.heading-tw {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.heading-th {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.hero {
    background-color: var(--navyblue);
}
.h-hero {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.hero .button-hero {
    background-color: var(--iris);
    color: var(--white);
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
    background-color: var(--ocean);
}
.link-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.link {
    text-decoration: none;
}
.logo-web {
    color: #2e2f42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.link-top {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.link-top:hover,
.link-top:focus {
    color: #404bbf;
}
.link-contact {
    font-style: normal
}
.contact {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus {
    color: #404bbf;
}
.basement {
    background-color: var(--navyblue)
}
.basement-text {
    color: var(--cloud);
}
.basement .logo-web {
    color: var(--cloud)
}
.filter {
    font-family: "Roboto", sans-serif;
    color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    background-color: var(--cloud);
    cursor: pointer;
}
.filter:hover,
.filter:focus {
    color: #FFFFFF;
    background-color: var(--ocean);
}
.team {
    background-color: #F4F4FD
}
.worker {
    background-color: #FFFFFF;
}
.paragraph {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.cards-heading {
    color: var(--navyblue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}